{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Open Data Multisearch</title>
    <link href="{% static "search/style.css" %}" rel="stylesheet" type="text/css" media="screen">
    <script>
        function narrow(term, term_id) {
            var query_field = document.getElementById('query');
            query_field.value = query_field.value + " " + term;
            document.getElementById(term_id).style.display = 'none';
            document.getElementById('search_form').submit();
        }
    </script>
</head>
<body>
    <h1><a href="/">ORD Hackday 2015 - Open Data Multisearch</a></h1>
    
    <form action="/" method="get" class="search" id="search_form">
        <input type="text" name="query" value="{{query}}" class="query" id="query"> <input type="submit" value="Search" class="submit">
        <div class="daterange">
            Published: <input type="date" name="pubfrom" value="{{pubfrom}}" placeholder="yyyy-mm-dd"> - <input type="date" name="pubto" value="{{pubto}}" placeholder="yyyy-mm-dd">
        </div>
        <div class="daterange">
            Relevant timespan: <input type="date" name="datefrom" value="{{datefrom}}" placeholder="yyyy-mm-dd"> - <input type="date" name="dateto" value="{{dateto}}" placeholder="yyyy-mm-dd">
        </div>
    </form>
    
    {% if narrowing_terms %}
        <ul class="narrowing">
            Narrow search: 
            {% for n in narrowing_terms %}
                <li id="n{{forloop.counter}}" onclick="narrow('{{n}}', 'n{{forloop.counter}}')">{{n}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <ul class="portals">
        Searching {% for p in portals %}<li><a href="{{p.url}}">{{p.name}}</a></li>{% endfor %}
    </ul>
    
    <ul class="results">
    {% for r  in results %}
        <li class="result">
            <a href="{{r.result_url}}" class="link">{{r.title}}</a>
            <div class="notes">{{r.notes}}</div>
        </li>
    {% endfor %}
    </ul>
    
    <div class="footer">
        <a href="http://make.opendata.ch/wiki/project:discoverabilitythroughstructure">Project Page</a>
    </div>
</body>
</html>
